name = "cf-metrics"
main = "bin/worker.js"
compatibility_date = "2024-12-05"
compatibility_flags = ["nodejs_compat"]

[vars]
REQUEST_URL = "https://example.com"
INFLUX_METRIC_NAME = "example"
INFLUX_URL = "http://localhost:8086"
INFLUX_TOKEN = "example"
INFLUX_DATABASE = "example"